MYSQL_PASSWORD=CONTRASENA_USUARIO
MYSQL_ROOT_PASSWORD=CONTRASENA_ROOT
TMDB_API_KEY= TU_API_KEY
CRM_CONNECTION_STRING=Server=localhost;Port=3307;Database=cineroadmap;User ID=cineroadmap;Password=1234;SslMode=None;AllowPublicKeyRetrieval=true;
